



.why-fusion h1 {
  font-family: "Poppins";
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  text-align: left;
  color: #1f1f1f;
}

.why-fusion p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 24.24px;
  text-align: left;
  color: #666c89;
}


  

@media screen and (max-width: 1200px) {
 
  .why-fusion h1 {
    font-size: 38px;
    line-height: 62px;
  }
}





@media screen and (max-width: 576px) {
  
  .why-fusion h1 {
    font-size: 32px;
    line-height: 48px;
  }

  .why-fusion p {
    font-size: 14px;
    line-height: 21px;
  }
}
